body {
    margin: 0;
    background-color: rgb(255,255,255);
}

/* Main container for the whole page...*/
.container {
    width: auto;
}

/* Settings for the header! */
header {
    background: linear-gradient(0deg, orange, maroon)
}

/* Settings for the main heading text in the header! */
header h1 {
    margin: 0px;
        /* Eliminates automatic margins */
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    text-align: center;
}


nav {
    background-color: rgba(0, 0, 0, .5);
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}


nav a {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 10px;
    display: inline-block;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
nav a:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, .25);
}

main {
    background-color: black;
    text-align: center;
    padding-top: 400px;
    padding-bottom: 400px;
}

main p {
    color: white;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 25px;
}

footer {
    background-color: grey;
    padding-top: 50px;
    padding-bottom: 50px;
}

footer p {
    margin: 0px;
}

.hover_btn {
    background-color: white;
    color: black;
    font-size: 50px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
.hover_btn:hover {
    background-color: gold;
}